<main class="holder">
        <div class="contacto">
            <h2>Contacto rápido</h2>
            <form action="" class="formulario">
                <p>
                    <label for="">Nombre</label>
                    <input type="text" required>
                </p>
                <p>
                    <label for="">Email</label>
                    <input type="email" required>
                </p>
                <p>
                    <label for="">Teléfono</label>
                    <input type="text" required>
                </p>
                <p>
                    <label for="">Comentarios</label>
                    <textarea name="" required></textarea>
                </p>
                <p class="centrar">
                    <input type="submit" value="Enviar">
                </p>
            </form>
        </div>    
        <div class="redes">
            <h2>Otras vías de contacto</h2>
            <p>Tambien pueden contactarse con nosotros usando los siguientes medios</p>
            <ul>
                <li>Telefono: 123456789</li>
                <li>Facebook: sadasdasd</li>
                <li>Twitter: asdasd</li>
                <li>Instagram: asdas</li>
            </ul>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.8501165620974!2d-64.18686368507308!3d-31.41825538140352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2849e995d45%3A0x55ef0a18fc453c8e!2sEntre%20R%C3%ADos%2011%2C%20X5000%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1633454276885!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>    
        
    </main>