<main class="holder">
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="AVION">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam distinctio eos consectetur odit laudantium qui iure cum id aut minima dolor mollitia delectus maiores error, recusandae possimus, consequatur magnam rerum!</p>
            </div>
            <div class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente excelente</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>
                </div>
            </div>
        </div>
    </main>
