<main class="holder">
       <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex id dignissimos repellat minus deserunt atque maxime eligendi cumque dicta nisi perferendis, nemo tempora, alias tenetur? Quo beatae sequi numquam quisquam.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati sit officia quaerat, ex corporis quibusdam, dolore neque molestias doloribus quos sapiente qui dolores nam doloremque esse voluptates dolor nobis accusamus.</p>
       </div>
       <div class="staff">
           <h2>Staff</h2>
           <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iure, maxime vero hic itaque vel eligendi deleniti quia numquam corporis cupiditate neque doloribus, pariatur animi dolore repellat nesciunt voluptatibus possimus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iure, maxime vero hic itaque vel eligendi deleniti quia numquam corporis cupiditate neque doloribus, pariatur animi dolore repellat nesciunt voluptatibus possimus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>Roberto Zavala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iure, maxime vero hic itaque vel eligendi deleniti quia numquam corporis cupiditate neque doloribus, pariatur animi dolore repellat nesciunt voluptatibus possimus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Sandra Mastrolo</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iure, maxime vero hic itaque vel eligendi deleniti quia numquam corporis cupiditate neque doloribus, pariatur animi dolore repellat nesciunt voluptatibus possimus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de logistica</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iure, maxime vero hic itaque vel eligendi deleniti quia numquam corporis cupiditate neque doloribus, pariatur animi dolore repellat nesciunt voluptatibus possimus.</p>
                </div>
           </div>

       </div>
    </main>