<main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cupiditate maxime quisquam illo ipsum error voluptatem nostrum optio eius nesciunt voluptas minima illum nobis, aut necessitatibus facilis architecto eos veniam?</p>
            <hr>
        </div>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cupiditate maxime quisquam illo ipsum error voluptatem nostrum optio eius nesciunt voluptas minima illum nobis, aut necessitatibus facilis architecto eos veniam?</p>
            <hr>
        </div>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cupiditate maxime quisquam illo ipsum error voluptatem nostrum optio eius nesciunt voluptas minima illum nobis, aut necessitatibus facilis architecto eos veniam?</p>
            <hr>
        </div>
        
    </main>