<main class="holder">
        <h2>Servicios</h2>
        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="avion">
            <div class="info">
                <h4>Transportre Aereo</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nesciunt expedita repellendus
                    voluptas, cumque amet sit, odio libero nobis vel suscipit asperiores sequi. Officiis, exercitationem
                    minima harum excepturi dignissimos fugiat?</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="tren">
            <div class="info">
                <h4>Transportre Ferroviario</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nesciunt expedita repellendus
                    voluptas, cumque amet sit, odio libero nobis vel suscipit asperiores sequi. Officiis, exercitationem
                    minima harum excepturi dignissimos fugiat?</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="barco">
            <div class="info">
                <h4>Transportre Maritimo</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nesciunt expedita repellendus
                    voluptas, cumque amet sit, odio libero nobis vel suscipit asperiores sequi. Officiis, exercitationem
                    minima harum excepturi dignissimos fugiat?</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/terrestre.jpg" alt="camion">
            <div class="info">
                <h4>Transportre Terrestre</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nesciunt expedita repellendus
                    voluptas, cumque amet sit, odio libero nobis vel suscipit asperiores sequi. Officiis, exercitationem
                    minima harum excepturi dignissimos fugiat?</p>
            </div>
        </div>
    </main>